<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Edit your Profile</h1>
        <p class="text-center">Be part of the Dev Match Community! Edit your profile:</p>
        <div class="well">
            <%= render 'form' %>
        </div>
    </div>
</div>